<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704424870055-a5ebidlhbn82mk540i0blnkh2vhjhnum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704424870055-a5ebidlhbn82mk540i0blnkh2vhjhnum</string>
	<key>API_KEY</key>
	<string>AIzaSyAIhC9XcwfNs0uIuyj2To_xc8Vxnttt2CA</string>
	<key>GCM_SENDER_ID</key>
	<string>704424870055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noted</string>
	<key>PROJECT_ID</key>
	<string>noted-app-42d3d</string>
	<key>STORAGE_BUCKET</key>
	<string>noted-app-42d3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704424870055:ios:bf5b1dbc3e4f9de9ebdb82</string>
</dict>
</plist>